<a href="#match-<%= match.id %>" data-toggle="modal">Who can play?</a>
<div class="modal hide" id="match-<%= match.id %>">
  <% if match.players.empty? %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>There are no available players yet.</h3>
    </div>
  <% else %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Available players</h3>
    </div>
    <div class="modal-body">
      <%= render :partial => 'players/players', :object => match.players %>
    </div>
  <% end %>
</div>

