<h2>
  Team
  <%= link_to 'Add players', season_players_path(@season), :class => 'pull-right btn' %>
</h2>

<% if @season.players.empty? %>
  <div class="alert alert-block alert-info">
    <h4>No players for this season yet.</h4>
    <%= link_to 'Add players', season_players_path(@season) %> to get the season started.
  </div>
<% else %>
  <%= render :partial => 'users/users', :object => @season.users %>
<% end %>