<h2>
  Team
  <%= link_to 'Add team members', season_team_members_path(@season), :class => 'pull-right btn' %>
</h2>

<% if @season.team_members.empty? %>
  <div class="alert alert-block alert-info">
    <h4>No team members for this season yet.</h4>
    <%= link_to 'Add team members', season_team_members_path(@season) %> to get the season started.
  </div>
<% else %>
  <%= render :partial => 'team_members/team_members', :object => @season.users %>
<% end %>

