<p>I added you to a team on Breakpoint App.</p>

<p>
  Don't remember your password?
  Simply <%= link_to 'set a new password now', edit_user_password_url({:reset_password_token => @token}) %>.
</p>

