<% subtitle 'Team' %>

<% if @accepted_team_members.present? %>
  <%= render :partial => "team_members_index", :object => @accepted_team_members %>
<% end %>

<% if @not_accepted_team_members.present? %>
  <h3>Team members who have not accepted their invite</h3>
  <div class="alert alert-info">
    To set practice/match availability, members must accept their invitation
  </div>

  <%= render :partial => "team_members_index", :object => @not_accepted_team_members %>
<% end %>

