<% title "Team members for #{@season.name}" %>

<%= form_tag season_team_members_path, :method => :put, :class => 'form-horizontal' do %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td>
          <label class="checkbox">
            <%= check_box_tag 'team_member_ids[]', user.id, @team_members.include?(user), :id => "team_member_id_#{user.id}" %>
            <%= user.name %>
          </label>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Save Team Members', :class => 'btn btn-primary' %>
<% end %>

