<% if commentable.comment.present? %>
  <p>
    Comments for this <%= commentable.class.to_s.downcase %>
    <blockquote>
      <p><%= simple_format commentable.comment %></p>
    </blockquote>
  </p>
<% end %>

