<table class="table borderless">
  <tr>
    <td class="text-right"><strong>To:</strong></td>
    <td><%= local_assigns.has_key?(:to) ? to : "Entire team" %></td>
  </tr>
  <tr>
    <td class="text-right"><strong>Subject:</strong></td>
    <td><%= subject %></td>
  </tr>
</table>

