<br>
<div class="hero-unit">
  <h1>Tennis team scheduling made easy</h1>
  <p>Get all these features for free</p>
  <ul>
    <li>Team email address</li>
    <li>Practice and match schedules</li>
    <li>Practice and match availability</li>
    <li>Match lineup emails</li>
  </ul>
  <%= link_to "Sign up for free", new_user_registration_path, class: "btn btn-primary btn-large" %>
</div>

