<br>
<div class="jumbotron">
  <h1>Easy tennis team scheduling</h1>
  <p>Get all these features for free</p>
  <ul>
    <li><p>Team email address</p></li>
    <li><p>Practice and match schedules</p></li>
    <li><p>Practice and match availability</p></li>
    <li><p>Match lineup emails</p></li>
  </ul>
  <p>
    <%= link_to "Sign up for free", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>

