<div class="alert alert-block alert-info">
  <strong>Match</strong>
  &mdash;
  <%= match.team_location %> on
  <%= l match.date, :format => :long %>
  <br>
  <%= simple_format match.location %>
</div>

