<a href="#practice-<%= practice.id %>" data-toggle="modal">Who can play?</a>
<div class="modal fade" id="practice-<%= practice.id %>">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <% if practice.available_players.empty? %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">There are no confirmed players yet.</h4>
        </div>
      <% else %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmed players</h4>
        </div>
        <div class="modal-body">
          <%= render :partial => 'team_members/team_members', 
                :locals => { :practice => practice },
                :object => practice.available_players %>
        </div>
      <% end %>
    </div>
  </div>
</div>

