<a href="#match-<%= match.id %>" data-toggle="modal">Who can play?</a>
<div class="modal fade" id="match-<%= match.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <% if match.available_players.empty? %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">There are no available players yet.</h4>
        </div>
      <% else %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Available players</h4>
        </div>
        <div class="modal-body">
          <%= render :partial => 'team_members/team_members', :object => match.available_players %>
        </div>
      <% end %>
  </div>
</div>

