<div class="pull-right">
  <a href="#" class="expand-all">
    <span class="glyphicon glyphicon-chevron-down"></span>
    Expand all
  </a>
  <a href="#" class="collapse-all">
    <span class="glyphicon glyphicon-chevron-right"></span>
    Collapse all
  </a>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render matches %>
  </div>
</div>
<%= render partial: "match_javascript" %>

