<% subtitle 'Review team availability' %>

<div class="alert alert-info">
  <h4>Need more players?</h4>
  <p>
    <%= link_to player_request_email_team_match_path(current_team, @match), class: "player-request-email btn btn-info" do %>
      <span class="glyphicon glyphicon-envelope"></span>
      Preview and send player request email
    <% end %>
  </p>

  Players that have not repsonded are selected by default.<br>
  Select more players or groups below to send a player request email to those players.
</div>

<% @match.players_status.keys.in_groups_of(2, false).each do |groups| %>
  <div class="row">
    <% groups.each do |group| %>
      <%= render partial: "availability_group", object: group %>
    <% end %>
  </div>
<% end %>

<script>
  function toggleSelectedPlayer(items, selected) {
    $.each(items, function(index, item) {
      if (selected) {
        $(item).addClass('list-group-item-info');
        $(item).children('span').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
      } else {
        $(item).removeClass('list-group-item-info');
        $(item).children('span').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
      }
    });
    setButtonStatus();
  }

  function selectedUserIds() {
    return $.map($('.list-group-item-info'), function(user) {
      return $(user).data('user-id');
    });
  }

  function setButtonStatus() {
    if (selectedUserIds().length > 0) {
      $('.player-request-email').removeClass('disabled');
    } else {
      $('.player-request-email').addClass('disabled');
    }
  }

  $(function() {
    toggleSelectedPlayer($('.list-group.no-response .list-group-item'), true);

    $('.player-request-email').on('click', function(e) {
      e.preventDefault();

      window.location = $(this).prop('href') + "?user_ids=" + selectedUserIds().toString();
    });

    $('.select-all').on('click', function(e) {
      e.preventDefault();
      var items = $(this).closest('.panel').find('.list-group-item');
      toggleSelectedPlayer(items, true);
    });

    $('.select-none').on('click', function(e) {
      e.preventDefault();
      var items = $(this).closest('.panel').find('.list-group-item');
      toggleSelectedPlayer(items, false);
    });

    $('.list-group').on('click', '.list-group-item', function(e) {
      e.preventDefault();
      var currentlySelected = $(this).hasClass('list-group-item-info');
      toggleSelectedPlayer($(this), !currentlySelected);
    });
  });
</script>

