<% subtitle 'Preview and send availability request' %>

<div class="alert alert-info">
  Review the email below and click the Email team button
</div>

<% if @match.notified_team? %>
  <div class="alert alert-warning">
    Team has already been notified with this email
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Subject: <%= @match_email.subject %></h3>
  </div>
  <div class="panel-body">
    <%= raw @match_email.body %>
  </div>
</div>

<%= link_to 'Email team',
  notify_match_path(@match, team_id: current_team.id),
  :method => :post,
  :class => 'btn btn-primary' %>

