<% subtitle 'Preview and send lineup' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <table class="table borderless">
      <tr>
        <td class="text-right"><strong>To:</strong></td>
        <td>Entire team</td>
      </tr>
      <tr>
        <td class="text-right"><strong>Subject:</strong></td>
        <td><%= @match_lineup_email.subject %></td>
      </tr>
    </table>
  </div>
  <div class="panel-body">
    <%= raw @match_lineup_email.body %>
  </div>
</div>

<%= form_tag notify_lineup_match_path(@match, team_id: current_team.id), method: :post do %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <textarea placeholder="add extra comments" class="form-control" name="comments"></textarea>
        <p class="help-block">Extra comments will be included in the email above "Thanks!"</p>
      </div>
    </div>
  </div>

  <%= submit_tag 'Email team', :class => 'btn btn-primary' %>
  <% if @match.notified_team_lineup? %>
    <span class="text-warning">
      The lineup has not changed since this email was last sent
    </span>
  <% end %>
<% end %>

