<p>
  The match will be played <strong><%= @match.team_location %></strong> at
  <address><%= simple_format @match.location %></address>
</p>

<%= render :partial => 'shared/commentable', :object => @match %>

<p>
  Please <%= link_to 'set your availability', team_matches_url(@match.team) %>.
</p>

<p>Thanks!</p>

