<p>
  The match will be played <strong><%= @match.team_location %></strong>
  at <strong><%= @match.location %></strong>
</p>
<p>
  Please <%= link_to 'set your availability', team_matches_url(@match.team) %>.
</p>
<p>Thanks!</p>

