<p style="text-align: center;">Can you play?</p>
<p style="text-align: center;">
  <%= link_to "YES",
    set_availability_team_match_availabilities_url(
      @match.team,
      available: 'yes',
      token: @match.match_availability_token_for(@user_id)),
    style: "margin-right: 10px; font-size: 24px;" %>
  or
  <%= link_to "NO",
    set_availability_team_match_availabilities_url(
      @match.team,
      available: 'no',
      token: @match.match_availability_token_for(@user_id)),
    style: "margin-left: 10px; font-size: 24px;" %>
</p>

<%= render partial: 'shared/match', object: @match %>

<% if @comments.present? %>
  <p><%= simple_format @comments %></p>
<% end %>

