<p>Can you play?</p>
<p>
  <%= link_to "YES",
    set_availability_team_match_availabilities_url(
      @match.team,
      available: 'yes',
      token: @match.match_availability_token_for(@user_id)),
    style: "margin: 0px 10px 0px 0px; font-size: 24px;" %>
  or
  <%= link_to "NO",
    set_availability_team_match_availabilities_url(
      @match.team,
      available: 'no',
      token: @match.match_availability_token_for(@user_id)),
    style: "margin: 0px 10px; font-size: 24px;" %>
</p>

<%= render 'shared/match_mailer' %>

