<p>
  The match will be played <strong><%= @match.location %></strong>
  against <strong><%= @match.opponent %></strong>
</p>
<p>
  Please <%= link_to 'set your availability', season_url(@match.season) %>.
</p>
<p>Thanks!</p>