/*
 *= require jquery.ui.datepicker
 *= require_self
*/

@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstrap-timepicker";

body {
  padding-top: 40px;
}

.flash {
  margin-top: 18px;
}

.comment {
  width: 40%;
  height: 200px;
}

.address {
  width: 40%;
}

