<ul>
  <% @match.match_lineups.includes(:players).each do |lineup| %>
    <li>
      <strong><%= lineup.match_type %></strong>
      <% lineup.players.each do |player| %>
        <%= player.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render :partial => 'shared/match_location', :locals => { :match => @match } %>
<%= render :partial => 'shared/commentable', :object => @match %>

<p>Thanks!</p>

