<ul>
  <% @match.match_lineups.includes(:players).each do |lineup| %>
    <li>
      <strong><%= lineup.match_type %></strong>
      <% lineup.players.each do |player| %>
        <%= player.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<p>
  The match will be played <strong><%= @match.team_location %></strong>
  at <strong><%= @match.location %></strong>
</p>

<p>Thanks!</p>

