<p>
  <% if @practice.comment.present? %>
    Your team captain says: <%= @practice.comment %>
  <% else %>
    Coordinate with the captain for further details.
  <% end %>
</p>
<p>
  Please <%= link_to 'set your availability', team_practices_url(@practice.team) %>.
</p>
<p>Thanks!</p>
