<p>
  The practice will be played at
  <address><%= simple_format @practice.location %></address>
</p>

<%= render :partial => 'shared/commentable', :object => @practice %>

<p>
  Please <%= link_to 'set your availability', team_practices_url(@practice.team) %>.
</p>

<p>Thanks!</p>

